/*Default Project Fonts*/
@font-face {
  font-family: 'Marion';
  src: url("../assets/font/Marion-The-Essentials.ttf") format("truetype");
}

@font-face {
  font-family: 'Gallient';
  src: url("../assets/font/GallientRegular-eZoMp.ttf") format("truetype");
}

@font-face {
  font-family: 'Grotesk';
  src: url("../assets/font/FoundersGrotesk.ttf") format("truetype");
}

@font-face {
  font-family: 'GroteskMid';
  src: url("../assets/font/FoundersGrotesk-Medium.ttf") format("truetype");
}

/*Font Variables*/
/*Theme Color*/
* {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

/*Blend Mode Property*/
.blend-Mode {
  mix-blend-mode: exclusion;
}

/*Deafult Header Section Starts Here*/
.default-Header {
  position: fixed;
  width: 100vw;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 30;
}

.default-Header .inner-default-header {
  width: 92%;
  padding: 4% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-Header .inner-default-header h1 {
  margin: 0;
  padding: 0;
  font-family: "GroteskMid";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.default-Header .inner-default-header .menuBar-Container {
  display: inline-block;
}

.default-Header .inner-default-header .menuBar-Container .bar1, .default-Header .inner-default-header .menuBar-Container .bar2 {
  width: 28px;
  height: 2px;
  background: #FFFFFF;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.magnetSpanLink {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.magnetSpanLinkall {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

/*Hamburger Menu Starts Here*/
.hamMenu-Box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -130%;
  background: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 23;
  /* Make sure 3 items are visible in the viewport by setting suitable font size. */
}

.hamMenu-Box .hamMenu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 12% 0 25%;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 7vw;
  counter-reset: menu;
}

.hamMenu-Box .hamMenu .hamHover-reveal {
  position: absolute;
  top: -100%;
  left: 8%;
  width: 367px;
  height: 700px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(0, -300px);
          transform: translate(0, -300px);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamHover-reveal__inner {
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
  overflow: hidden;
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamHover-reveal__img {
  background-size: cover;
  background-position: 50%, 50%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition: 1.5s -webkit-transform;
  transition: 1.5s -webkit-transform;
  transition: 1.5s transform;
  transition: 1.5s transform, 1.5s -webkit-transform;
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamfirst {
  background-image: url("../assets/jpeg/hamMenuImage/bevmo.png");
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamsecond {
  background-image: url("../assets/jpeg/hamMenuImage/photograph.png");
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamthird {
  background-image: url("../assets/jpeg/hamMenuImage/man.png");
}

.hamMenu-Box .hamMenu__item {
  cursor: default;
  position: relative;
  padding: 0 5vw;
  text-align: center;
  font-family: "Marion";
}

.hamMenu-Box .hamMenu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: white;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.hamMenu-Box .hamMarquee {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  letter-spacing: 5px;
}

.hamMenu-Box .hamMarquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.hamMenu-Box .hamMenu__item-link:hover ~ .hamMarquee .hamMarquee__inner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-family: "Gallient";
}

.hamMenu-Box .hamMarquee span {
  text-align: center;
}

.hamMenu-Box .hamMenu__item-link,
.hamMenu-Box .hamMarquee span {
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  text-transform: uppercase;
  line-height: 1.15;
  color: white;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

.hamMenu-Box .hamMarquee {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  letter-spacing: 5px;
}

.hamMenu-Box .hamMarquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.hamMenu-Box .hamMenu__item-link:hover ~ .hamMarquee .hamMarquee__inner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-family: "Gallient";
}

.hamMenu-Box .hamMarquee span {
  text-align: center;
}

.hamMenu-Box .hamMenu__item-link,
.hamMenu-Box .hamMarquee span {
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  text-transform: uppercase;
  line-height: 1.15;
  color: white;
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

.hamMenu-Box .hamSocial-Links {
  width: 100%;
  position: absolute;
  bottom: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Grotesk";
  font-size: 1.2rem;
  letter-spacing: 1px;
  z-index: 25;
}

.hamMenu-Box .hamSocial-Links .hamEllipse {
  visibility: hidden;
  padding: 0 1%;
}

.hamMenu-Box .hamBottomMarque {
  position: absolute;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0;
  bottom: 8%;
  z-index: 25;
}

.hamMenu-Box .hamBottomMarque .bottomMarquee {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.hamMenu-Box .hamBottomMarque .bottomMarquee .bottomInnerMarquee {
  padding: 6px 0 0 0;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background-color: #FFFFFF;
}

.hamMenu-Box .hamBottomMarque .bottomMarquee .bottomInnerMarquee span {
  position: relative;
  padding: 0;
  overflow: visible;
  font-family: "Gallient";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
  white-space: nowrap;
}

.hamMenu-Box .hamBottomMarque .bottomMarquee .bottomInnerMarquee span .HamArrow {
  margin: 0 -6px 6px 0px;
  width: 10px;
  height: 10px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(2px, -2px);
  transform: rotate(-45deg) translate(2px, -2px);
}

.change .bar2 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*Hover Cursor Dot Magnet*/
.cursor-Hover {
  position: fixed;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50px;
  pointer-events: none;
  -webkit-transition: 0s ease;
  transition: 0s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
}

.cursor-Hover .visible-Hover {
  padding-top: 2%;
  font-family: "GroteskMid";
  font-size: 0.2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  opacity: 0;
}

/*Page Transition Effect Starts Here*/
.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 55;
  background-color: antiquewhite;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 5s ease-out;
  transition: 5s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  bottom: 0;
  z-index: 55;
  background-color: antiquewhite;
  -webkit-transition: 5s ease-out;
  transition: 5s ease-out;
}

.transition-2.is-active {
  left: 0px;
}

.transition-3 {
  position: fixed;
  top: 100%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 55;
  background-color: #000000;
  -webkit-transition: 1.5s ease-out;
  transition: 1.5s ease-out;
}

.transition-3.is-active {
  top: 0%;
}

.photo-stack img {
  position: absolute;
  width: 16%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.photo-stack .loadImgOne {
  z-index: 101;
  top: 50%;
  left: 50%;
  -webkit-animation: imgOpa 0s 0.8s linear forwards;
          animation: imgOpa 0s 0.8s linear forwards;
}

.photo-stack .loadImgTwo {
  z-index: 100;
  top: 48%;
  left: 49%;
  -webkit-animation: imgOpa 0s 0.7s linear forwards;
          animation: imgOpa 0s 0.7s linear forwards;
}

.photo-stack .loadImgThree {
  z-index: 99;
  top: 51%;
  left: 51%;
  -webkit-animation: imgOpa 0s 0.6s linear forwards;
          animation: imgOpa 0s 0.6s linear forwards;
}

.photo-stack .loadImgFour {
  z-index: 98;
  top: 48%;
  left: 51%;
  -webkit-animation: imgOpa 0s 0.5s linear forwards;
          animation: imgOpa 0s 0.5s linear forwards;
}

.photo-stack .loadImgFive {
  z-index: 97;
  top: 56%;
  left: 48%;
  -webkit-animation: imgOpa 0s 0.4s linear forwards;
          animation: imgOpa 0s 0.4s linear forwards;
}

.photo-stack .loadImgSix {
  z-index: 96;
  top: 54%;
  left: 52%;
  -webkit-animation: imgOpa 0s 0.3s linear forwards;
          animation: imgOpa 0s 0.3s linear forwards;
}

.photo-stack .loadImgSevn {
  z-index: 95;
  top: 50%;
  left: 48%;
  -webkit-animation: imgOpa 0s 0.2s linear forwards;
          animation: imgOpa 0s 0.2s linear forwards;
}

.photo-stack .loadImgEight {
  z-index: 94;
  top: 53%;
  left: 52%;
  -webkit-animation: imgOpa 0s 0.1s linear forwards;
          animation: imgOpa 0s 0.1s linear forwards;
}

.photo-stack .loadImgNine {
  z-index: 93;
  top: 50%;
  left: 50%;
  -webkit-animation: imgOpa 0s 0s linear forwards;
          animation: imgOpa 0s 0s linear forwards;
}

@-webkit-keyframes imgOpa {
  100% {
    opacity: 1;
  }
}

@keyframes imgOpa {
  100% {
    opacity: 1;
  }
}

.cutText {
  text-decoration: line-through;
}

@media only screen and (max-width: 2561px) {
  /*Hamburger Menu Starts Here*/
  .hamMenu-Box .hamMenu {
    padding: 7% 0 25%;
    --item-font-size: 6vw;
  }
  photo-stack img {
    width: 12%;
  }
}

@media only screen and (max-width: 1921px) {
  .hamMenu-Box .hamMenu {
    padding: 13% 0 25%;
    --item-font-size: 7vw;
  }
}

@media only screen and (max-width: 1537px) {
  .hamMenu {
    padding: 9% 0 25%;
  }
  /*.photo-stack{
        
    }*/
}

@media only screen and (max-width: 1441px) {
  .hamMenu {
    padding: 11% 0 25%;
  }
  photo-stack img {
    width: 13%;
  }
}

@media only screen and (max-width: 1367px) {
  photo-stack img {
    width: 31%;
  }
}

@media only screen and (max-width: 1201px) {
  .hamMenu {
    padding: 14% 0 25%;
  }
  photo-stack img {
    width: 16%;
  }
}

/*Media Queries For Responsive Starts Here*/
@media only screen and (max-width: 769px) {
  .default-Header .inner-default-header {
    width: 88%;
    padding: 8% 0 0 0;
  }
  .default-Header .inner-default-header h1 {
    font-size: 1rem;
  }
  .default-Header .inner-default-header .menuBar-Container .bar1, .default-Header .inner-default-header .menuBar-Container .bar2 {
    width: 28px;
  }
  .hamHover-reveal {
    display: none;
  }
  .cursor-Hover {
    display: none;
  }
  .hamMenu-Box .hamMenu {
    padding: 35% 0 25%;
    --item-font-size: 13vw;
  }
  .hamMenu-Box .hamMenu__item-link {
    opacity: 1;
  }
  .hamMenu-Box .hamMarquee {
    visibility: hidden;
  }
  .hamMenu-Box .hamSocial-Links .hamEllipse {
    margin: 0 3%;
    visibility: visible;
    height: 0.4em;
    padding: 0;
  }
}

@media only screen and (max-width: 429px) {
  .default-Header .inner-default-header h1 {
    font-size: 0.8rem;
  }
  .default-Header .inner-default-header .menuBar-Container .bar1, .default-Header .inner-default-header .menuBar-Container .bar2 {
    width: 24px;
  }
  .hamMenu-Box .hamMenu {
    padding: 66% 0 25%;
    --item-font-size: 18vw;
  }
  .hamMenu-Box .hamSocial-Links {
    bottom: 17%;
    font-size: 1rem;
  }
  .hamMenu-Box .hamBottomMarque .bottomMarquee .bottomInnerMarquee span {
    font-size: 1.2rem;
  }
  .photo-stack img {
    width: 29%;
  }
}

@media only screen and (max-width: 394px) {
  /*Hamburger Menu Starts Here*/
}

body {
  background: #000000;
}

.mainBanner {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 0 40% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  background: #000000;
}

.mainBanner .mainBaner-ImgBox {
  position: absolute;
  margin: 21% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  z-index: 6;
  /*img{
                width: 40%;
                //filter: grayscale(100);
            }*/
}

.mainBanner .mainBaner-ImgBox .aboutHeroImg {
  width: 747px;
  height: 1363px;
}

.mainBanner .inner-MainBanner {
  width: 85%;
  height: auto;
  margin: 10% 0 0 0;
  font-family: "Marion";
  font-size: 12rem;
  text-transform: uppercase;
  letter-spacing: 12px;
  z-index: 7;
  color: #FFFFFF;
}

.mainBanner .inner-MainBanner .strike1 {
  position: absolute;
  width: 14%;
  height: 8px;
  margin: 16% 0 0 25%;
  background-color: #FFFFFF;
  z-index: 8;
}

.mainBanner .inner-MainBanner .strike2 {
  position: absolute;
  width: 73%;
  height: 8px;
  margin: 27% 0 0 8%;
  background-color: #FFFFFF;
  z-index: 8;
}

.mainBanner .inner-MainBanner .iama {
  margin: 0 0 0 30%;
}

.mainBanner .inner-MainBanner .overthinker {
  margin: 0 4% 0 0;
  text-align: right;
  color: white;
}

.mainBanner .inner-MainBanner .designer {
  text-align: right;
  margin: 0 0 0 0;
}

/* About Me Section Starts Here*/
.aboutMeSection {
  position: relative;
  width: 100%;
  height: 3em;
  z-index: 5;
  font-family: "Gallient";
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.aboutMeSection .basedin {
  width: 70%;
  margin: 0 0 0 8%;
}

.aboutMeSection .aboutMeMarquee {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #000000;
}

.aboutMeSection .aboutMeMarquee .aboutMeInnerMarquee {
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.aboutMeSection .aboutMeMarquee .aboutMeInnerMarquee span {
  position: relative;
  padding: 0;
  overflow: visible;
  white-space: nowrap;
}

.aboutMeSection .aboutMeMarquee .aboutMeInnerMarquee span .aboutMeArrow {
  width: 0.6em;
}

/* White Star Section Starts Here*/
.whiteStarSection2 {
  position: relative;
  width: 100%;
  height: auto;
  margin: 8% 0 0 0;
  padding: 25% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  z-index: 5;
}

.whiteStarSection2 img {
  width: 2.5em;
}

/* Appointment Letter Section Starts Here*/
.appointment-Lettter-Section {
  position: relative;
  width: 96%;
  height: auto;
  margin: 0 0 0 2%;
  z-index: 5;
}

.appointment-Lettter-Section .inner-apLetter-section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appointment-Lettter-Section .inner-apLetter-section img {
  width: 36%;
}

.appointment-Lettter-Section .inner-apLetter-section .ap-letter-info .inner-ap-letter-info {
  width: 39%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Grotesk";
  font-size: 1.2rem;
  line-height: 1.3em;
  letter-spacing: 1px;
}

.appointment-Lettter-Section .inner-apLetter-section .ap-letter-info .inner-ap-letter-info span {
  font-family: "GroteskMid";
}

/* Main Self Info Two Section Starts Here*/
.mainSelfInfoThree {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 0 25% 0;
  z-index: 5;
  background-color: #000000;
}

.mainSelfInfoThree .innerMainSelfInfoThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Grotesk";
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mainSelfInfoThree .innerMainSelfInfoThree p {
  padding: 0;
  margin: 0;
}

/* Reach Me Out Section Starts Here*/
.reachMeOutSection {
  position: relative;
  width: 100%;
  height: 74em;
  background-color: #000000;
  z-index: 5;
}

.reachMeOutSection .reachMeInnerCircle {
  margin: 19% 0 0 0;
  position: absolute;
  width: 445px;
  height: 445px;
  border: 1px solid #000000;
  border-radius: 50%;
  z-index: 8;
  background-color: #FFFFFF;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.reachMeOutSection .reachMeManIamge {
  width: 14%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 9;
}

.reachMeOutSection .social-Links {
  width: 24%;
  position: absolute;
  margin: 22% 0 0 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-family: "Grotesk";
  font-size: 1.2rem;
  letter-spacing: 1px;
  z-index: 9;
}

.reachMeOutSection .social-Links .ellipse {
  visibility: hidden;
}

.reachMeOutSection .allReachMeMarques {
  position: absolute;
  margin: 14% 0 0 0;
  padding: 0;
  width: 100%;
  z-index: 3;
  overflow: hidden;
}

.reachMeOutSection .allReachMeMarques .comnReachMeMarque {
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
  position: relative;
  padding: 0;
  overflow: visible;
  color: #FFFFFF;
  font-family: "Gallient";
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  white-space: nowrap;
}

.reachMeOutSection .allReachMeMarques .comnReachMeMarque span .reachMeArrow {
  width: 0.6em;
}

/* card Section Starts Here*/
#blackVCardDrag {
  position: absolute;
  width: 34%;
  top: 310em;
  left: 2%;
  z-index: 17;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: move;
}

#blackVCardDrag:hover ~ .cursor-Hover {
  display: none;
}

#whiteVCardDrag {
  position: absolute;
  width: 34%;
  right: 0;
  top: 338em;
  right: 2%;
  z-index: 16;
  cursor: move;
}

#whiteVCardDrag:hover ~ .cursor-Hover {
  display: none;
}

/* Footer Starts Here*/
.footerSection {
  position: relative;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0;
  z-index: 14;
}

.footerSection .footerMarquee {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.footerSection .footerMarquee .footerInnerMarquee {
  padding: 6px 0 0 0;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background-color: #FFFFFF;
}

.footerSection .footerMarquee .footerInnerMarquee span {
  position: relative;
  padding: 0;
  overflow: visible;
  font-family: "Gallient";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
  white-space: nowrap;
}

.footerSection .footerMarquee .footerInnerMarquee span .moreWorkArrow {
  margin: 0 -6px 6px 0px;
  width: 10px;
  height: 10px;
}

/*Media Queries For Responsive Starts Here*/
@media only screen and (max-width: 2561px) {
  .mainBanner {
    margin: 0 0 26% 0;
  }
  .mainBanner .mainBaner-ImgBox {
    margin: 17% 0 0 0;
  }
  .mainBanner .mainBaner-ImgBox img {
    width: 29%;
  }
  .mainBanner .inner-MainBanner {
    width: 66%;
    font-size: 15rem;
    line-height: 77%;
  }
  .mainBanner .inner-MainBanner .strike1 {
    width: 10%;
    margin: 11% 0 0 18%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 54%;
    margin: 18% 0 0 4%;
  }
  .mainBanner .inner-MainBanner .iama {
    margin: 0 0 0 27%;
  }
  .mainBanner .inner-MainBanner .overthinker {
    margin: 0 11% 0 0;
  }
  /* About Me Section Starts Here*/
  .aboutMeSection {
    font-size: 11rem;
  }
  .aboutMeSection .basedin {
    width: 50%;
    margin: 0 0 0 25%;
  }
  .aboutMeSection .aboutMeMarquee {
    margin: -1% 0 0 0;
  }
  /* White Star Section Starts Here*/
  .whiteStarSection2 {
    margin: 0% 0 0 0;
    padding: 18% 0;
  }
  .whiteStarSection2 img {
    width: 3em;
  }
  .mainSelfInfoThree .innerMainSelfInfoThree {
    font-size: 1.5rem;
  }
  /* Reach Me Out Section Starts Here*/
  .reachMeOutSection {
    height: 80em;
  }
  .reachMeOutSection .reachMeInnerCircle {
    width: 482px;
    height: 482px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 11%;
  }
  .reachMeOutSection .social-Links {
    width: 16%;
    margin: 17% 0 0 42%;
  }
  .reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
    font-size: 2rem;
  }
  #blackVCardDrag {
    top: 390em;
  }
  #whiteVCardDrag {
    top: 408em;
  }
}

@media only screen and (max-width: 1921px) {
  .mainBanner .inner-MainBanner {
    width: 72%;
    font-size: 12rem;
  }
  .mainBanner .inner-MainBanner .strike1 {
    width: 14%;
    margin: 11% 0 0 18%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 61%;
    margin: 19% 0 0 4%;
  }
  /* About Me Section Starts Here*/
  .aboutMeSection {
    font-size: 8rem;
  }
  .aboutMeSection .basedin {
    margin: 0 0 0 23%;
  }
  /* Appointment Letter Section Starts Here*/
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info .inner-ap-letter-info {
    width: 50%;
  }
  /* White Star Section Starts Here*/
  .whiteStarSection2 {
    padding: 25% 0;
  }
  /* Reach Me Out Section Starts Here*/
  .reachMeOutSection .reachMeInnerCircle {
    width: 426px;
    height: 426px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 12%;
  }
  .reachMeOutSection .social-Links {
    font-size: 1rem;
  }
  .reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
    font-size: 1.7rem;
  }
  #blackVCardDrag {
    top: 329em;
    left: 4%;
  }
  #whiteVCardDrag {
    top: 350em;
    right: 3%;
  }
}

@media only screen and (max-width: 1729px) {
  .mainBanner {
    margin: 0 0 30% 0;
  }
  .mainBanner .mainBaner-ImgBox {
    margin: 18% 0 0 0;
  }
  .mainBanner .mainBaner-ImgBox img {
    width: 33%;
  }
  .mainBanner .inner-MainBanner {
    width: 72%;
    font-size: 12rem;
  }
  .mainBanner .inner-MainBanner .strike1 {
    margin: 13% 0 0 18%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 66%;
    margin: 21% 0 0 -1%;
  }
  .reachMeOutSection .reachMeInnerCircle {
    width: 442px;
    height: 442px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 13%;
  }
  #blackVCardDrag {
    top: 309em;
    left: 3%;
  }
  #whiteVCardDrag {
    top: 330em;
    right: 2%;
  }
}

@media only screen and (max-width: 1537px) {
  .mainBanner {
    margin: 0 0 37% 0;
  }
  .mainBanner .mainBaner-ImgBox {
    margin: 19% 0 0 0;
  }
  .mainBanner .mainBaner-ImgBox img {
    width: 40%;
  }
  .mainBanner .inner-MainBanner {
    width: 80%;
    font-size: 12rem;
    line-height: 80%;
  }
  .mainBanner .inner-MainBanner .strike1 {
    margin: 15% 0 0 21%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 74%;
    margin: 25% 0 0 3%;
  }
  .mainBanner .inner-MainBanner .overthinker {
    margin: 0 4% 0 0;
  }
  .aboutMeSection .basedin {
    margin: 0 0 0 17%;
  }
  .aboutMeSection .aboutMeMarquee {
    margin: 0;
  }
  /* Appointment Letter Section Starts Here*/
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info .inner-ap-letter-info {
    width: 55%;
  }
  .whiteStarSection2 img {
    width: 2.5em;
  }
  .reachMeOutSection {
    height: 65em;
  }
  .reachMeOutSection .reachMeInnerCircle {
    width: 445px;
    height: 445px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 14%;
  }
  .reachMeOutSection .social-Links {
    width: 21%;
    margin: 21% 0 0 39.5%;
  }
  .reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
    font-size: 1.7rem;
  }
  #blackVCardDrag {
    top: 290em;
    left: 2%;
  }
  #whiteVCardDrag {
    top: 310em;
    right: 0%;
  }
}

@media only screen and (max-width: 1513px) {
  /* Reach Me Out Section Starts Here*/
  .reachMeOutSection .reachMeInnerCircle {
    width: 438px;
    height: 438px;
  }
}

@media only screen and (max-width: 1441px) {
  .mainBanner {
    margin: 0 0 37% 0;
  }
  .mainBanner .mainBaner-ImgBox {
    margin: 19% 0 0 0;
  }
  .mainBanner .mainBaner-ImgBox img {
    width: 40%;
  }
  .mainBanner .inner-MainBanner {
    width: 85%;
    font-size: 11.8rem;
  }
  .mainBanner .inner-MainBanner .strike1 {
    margin: 16% 0 0 23%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 79%;
    margin: 26% 0 0 3%;
  }
  .aboutMeSection {
    font-size: 7.8rem;
  }
  .aboutMeSection .basedin {
    margin: 0 0 0 16%;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 14.5%;
  }
  .reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
    font-size: 1.7rem;
  }
  #blackVCardDrag {
    top: 275em;
  }
  #whiteVCardDrag {
    top: 297em;
  }
}

@media only screen and (max-width: 1367px) {
  .mainBanner .inner-MainBanner {
    font-size: 11rem;
  }
  .aboutMeSection {
    font-size: 7rem;
  }
  .aboutMeSection .basedin {
    margin: 0 0 0 18%;
  }
  .whiteStarSection2 img {
    width: 2em;
  }
  /* Appointment Letter Section Starts Here*/
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1201px) {
  .mainBanner .mainBaner-ImgBox {
    margin: 21% 0 0 0;
  }
  .mainBanner .inner-MainBanner {
    font-size: 10rem;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 80%;
    margin: 26% 0 0 1%;
  }
  /* Appointment Letter Section Starts Here*/
  .appointment-Lettter-Section .inner-apLetter-section img {
    width: 36%;
  }
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info .inner-ap-letter-info {
    width: 70%;
  }
  /* Reach Me Out Section Starts Here*/
  .reachMeOutSection .reachMeInnerCircle {
    width: 458px;
    height: 458px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 16.7%;
  }
  .reachMeOutSection .social-Links {
    width: 26%;
    margin: 23% 0 0 37%;
  }
  #blackVCardDrag {
    width: 31%;
    top: 233em;
  }
  #whiteVCardDrag {
    width: 31%;
    top: 257em;
  }
}

@media only screen and (max-width: 769px) {
  .mainBanner {
    margin: 0 0 56% 0;
  }
  .mainBanner .mainBaner-ImgBox {
    margin: 30% 0 0 0;
  }
  .mainBanner .mainBaner-ImgBox img {
    width: 47%;
  }
  .mainBanner .inner-MainBanner {
    font-size: 5rem;
    margin: 22% 0 0 0;
  }
  .mainBanner .inner-MainBanner .strike1 {
    width: 16%;
    height: 4px;
    margin: 13% 0 0 21%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 63%;
    height: 4px;
    margin: 29% 0 0 22%;
  }
  .mainBanner .inner-MainBanner .overthinker {
    margin: 0;
  }
  .aboutMeSection {
    font-size: 4rem;
  }
  .aboutMeSection .basedin {
    margin: 0 0 0 18%;
  }
  /* Appointment Letter Section Starts Here*/
  .appointment-Lettter-Section .inner-apLetter-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .appointment-Lettter-Section .inner-apLetter-section img {
    width: 54%;
  }
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info {
    mix-blend-mode: exclusion;
  }
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info .inner-ap-letter-info {
    width: 66%;
    margin: -56% 0 0 18%;
    font-size: 1rem;
  }
  /* Main Self Info Two Section Starts Here*/
  .mainSelfInfoThree .innerMainSelfInfoThree {
    font-size: 1.2rem;
  }
  .reachMeOutSection {
    height: 53em;
  }
  .reachMeOutSection .reachMeInnerCircle {
    margin: 29% 0 0 0;
    width: 370px;
    height: 370px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 22.5%;
  }
  .reachMeOutSection .social-Links {
    margin: 92% 0 0 0;
    width: 50%;
    font-size: 1.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(0deg) !important;
            transform: translateX(-50%) rotate(0deg) !important;
  }
  .reachMeOutSection .social-Links .ellipse {
    margin: 0 4%;
    visibility: visible;
    height: 0.4em;
  }
  .reachMeOutSection .allReachMeMarques {
    margin: 25% 0 0 0;
  }
  .reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
    font-size: 1.3rem;
  }
  #blackVCardDrag {
    display: none;
  }
  #whiteVCardDrag {
    width: 63%;
    right: unset;
    top: 178em;
    left: 50%;
    -webkit-transform: translate(-50%) !important;
            transform: translate(-50%) !important;
  }
  /* Footer Starts Here*/
  .footerSection .footerMarquee .footerInnerMarquee span {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 429px) {
  .mainBanner {
    margin: 0 0 48% 0;
  }
  .mainBanner .inner-MainBanner {
    width: 80%;
    font-size: 3.5rem;
    letter-spacing: 2px;
  }
  .mainBanner .inner-MainBanner .strike1 {
    width: 14%;
    height: 2px;
    margin: 16% 0 0 21%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 74%;
    height: 2px;
    margin: 26% 0 0 6%;
  }
  .aboutMeSection {
    font-size: 2.5rem;
  }
  .aboutMeSection .basedin {
    margin: 0 0 0 12%;
  }
  /* White Star Section Starts Here*/
  .whiteStarSection2 img {
    width: 1.5em;
  }
  /* Appointment Letter Section Starts Here*/
  .appointment-Lettter-Section .inner-apLetter-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .appointment-Lettter-Section .inner-apLetter-section img {
    width: 85%;
  }
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info {
    mix-blend-mode: exclusion;
  }
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info .inner-ap-letter-info {
    width: 84%;
    margin: -52% 0 0 8%;
  }
  /* Main Self Info Two Section Starts Here*/
  .mainSelfInfoThree .innerMainSelfInfoThree {
    font-size: 1rem;
  }
  .reachMeOutSection {
    height: 29em;
  }
  .reachMeOutSection .reachMeInnerCircle {
    width: 220px;
    height: 220px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 23.5%;
  }
  .reachMeOutSection .social-Links {
    margin: 92% 0 0 0;
    width: 64%;
    font-size: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(0deg) !important;
            transform: translateX(-50%) rotate(0deg) !important;
  }
  .reachMeOutSection .social-Links .ellipse {
    margin: 0 2%;
    visibility: visible;
    height: 0.4em;
  }
  .reachMeOutSection .allReachMeMarques {
    margin: 26% 0 0 0;
  }
  .reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
    font-size: 1rem;
  }
  .reachMeOutSection .allReachMeMarques .hide-Me {
    display: none;
  }
  #whiteVCardDrag {
    width: 68%;
    right: unset;
    top: 127em;
    left: 50%;
    -webkit-transform: translate(-50%) !important;
            transform: translate(-50%) !important;
  }
  .footerSection .footerMarquee .footerInnerMarquee span {
    font-size: 1rem;
  }
  .footerSection .footerMarquee .footerInnerMarquee span .moreWorkArrow {
    margin: 0 -3px 3px 0px;
    width: 8px;
    height: 8px;
  }
}

@media only screen and (max-width: 413px) {
  .mainBanner {
    margin: 0 0 48% 0;
  }
  .mainBanner .inner-MainBanner .strike1 {
    width: 15%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 76%;
    margin: 27% 0 0 3%;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 24%;
  }
  .reachMeOutSection .social-Links {
    margin: 95% 0 0 0;
  }
  .appointment-Lettter-Section .inner-apLetter-section img {
    width: 88%;
  }
  #whiteVCardDrag {
    top: 128em;
  }
}

@media only screen and (max-width: 394px) {
  .mainBanner {
    margin: 0 0 48% 0;
  }
  .mainBanner .inner-MainBanner .strike1 {
    margin: 17% 0 0 21%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 80%;
    margin: 28% 0 0 0;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 25%;
  }
  .reachMeOutSection .social-Links {
    margin: 98% 0 0 0;
    width: 69%;
  }
  .appointment-Lettter-Section .inner-apLetter-section img {
    width: 90%;
  }
  .appointment-Lettter-Section .inner-apLetter-section .ap-letter-info .inner-ap-letter-info {
    font-size: 0.8rem;
  }
  #whiteVCardDrag {
    top: 115em;
    width: 69%;
  }
}

@media only screen and (max-width: 391px) {
  .mainBanner {
    margin: 0 0 44% 0;
  }
  #whiteVCardDrag {
    width: 70%;
    top: 114em;
  }
}

@media only screen and (max-width: 377px) {
  .mainBanner {
    margin: 0 0 51% 0;
  }
  .mainBanner .mainBaner-ImgBox {
    margin: 39% 0 0 0;
  }
  .mainBanner .inner-MainBanner {
    margin: 29% 0 0 0;
    font-size: 3rem;
  }
  .mainBanner .inner-MainBanner .strike1 {
    margin: 15% 0 0 21%;
  }
  .mainBanner .inner-MainBanner .strike2 {
    width: 73%;
    margin: 25% 0 0 7%;
  }
  .mainBanner .inner-MainBanner .overthinker {
    margin: 0;
  }
  .reachMeOutSection .reachMeInnerCircle {
    width: 187px;
    height: 187px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 23%;
  }
  .reachMeOutSection .social-Links {
    width: 73%;
  }
  .reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
    font-size: 0.8rem;
  }
  #whiteVCardDrag {
    width: 62%;
  }
  /* Footer Starts Here*/
  .footerSection .footerMarquee .footerInnerMarquee span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 361px) {
  .reachMeOutSection {
    height: 27em;
  }
  .reachMeOutSection .reachMeInnerCircle {
    width: 187px;
    height: 187px;
  }
  .reachMeOutSection .reachMeManIamge {
    width: 23.6%;
  }
  .reachMeOutSection .social-Links {
    width: 73%;
  }
  .reachMeOutSection .allReachMeMarques .comnReachMeMarque span {
    font-size: 0.8rem;
  }
  .aboutMeSection {
    font-size: 2rem;
  }
  #whiteVCardDrag {
    width: 66%;
    top: 110em;
  }
}
/*# sourceMappingURL=about.css.map */