/*Default Project Fonts*/
@font-face {
  font-family: 'Marion';
  src: url("../assets/font/Marion-The-Essentials.ttf") format("truetype");
}

@font-face {
  font-family: 'Gallient';
  src: url("../assets/font/GallientRegular-eZoMp.ttf") format("truetype");
}

@font-face {
  font-family: 'Grotesk';
  src: url("../assets/font/FoundersGrotesk.ttf") format("truetype");
}

@font-face {
  font-family: 'GroteskMid';
  src: url("../assets/font/FoundersGrotesk-Medium.ttf") format("truetype");
}

/*Font Variables*/
/*Theme Color*/
* {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

/*Blend Mode Property*/
.blend-Mode {
  mix-blend-mode: exclusion;
}

/*Deafult Header Section Starts Here*/
.default-Header {
  position: fixed;
  width: 100vw;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 30;
}

.default-Header .inner-default-header {
  width: 92%;
  padding: 4% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-Header .inner-default-header h1 {
  margin: 0;
  padding: 0;
  font-family: "GroteskMid";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.default-Header .inner-default-header .menuBar-Container {
  display: inline-block;
}

.default-Header .inner-default-header .menuBar-Container .bar1, .default-Header .inner-default-header .menuBar-Container .bar2 {
  width: 28px;
  height: 2px;
  background: #FFFFFF;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.magnetSpanLink {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.magnetSpanLinkall {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

/*Hamburger Menu Starts Here*/
.hamMenu-Box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -130%;
  background: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 23;
  /* Make sure 3 items are visible in the viewport by setting suitable font size. */
}

.hamMenu-Box .hamMenu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 12% 0 25%;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 7vw;
  counter-reset: menu;
}

.hamMenu-Box .hamMenu .hamHover-reveal {
  position: absolute;
  top: -100%;
  left: 8%;
  width: 367px;
  height: 700px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(0, -300px);
          transform: translate(0, -300px);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamHover-reveal__inner {
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
  overflow: hidden;
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamHover-reveal__img {
  background-size: cover;
  background-position: 50%, 50%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition: 1.5s -webkit-transform;
  transition: 1.5s -webkit-transform;
  transition: 1.5s transform;
  transition: 1.5s transform, 1.5s -webkit-transform;
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamfirst {
  background-image: url("../assets/jpeg/hamMenuImage/bevmo.png");
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamsecond {
  background-image: url("../assets/jpeg/hamMenuImage/photograph.png");
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.hamMenu-Box .hamMenu .hamHover-reveal .hamthird {
  background-image: url("../assets/jpeg/hamMenuImage/man.png");
}

.hamMenu-Box .hamMenu__item {
  cursor: default;
  position: relative;
  padding: 0 5vw;
  text-align: center;
  font-family: "Marion";
}

.hamMenu-Box .hamMenu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: white;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.hamMenu-Box .hamMarquee {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  letter-spacing: 5px;
}

.hamMenu-Box .hamMarquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.hamMenu-Box .hamMenu__item-link:hover ~ .hamMarquee .hamMarquee__inner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-family: "Gallient";
}

.hamMenu-Box .hamMarquee span {
  text-align: center;
}

.hamMenu-Box .hamMenu__item-link,
.hamMenu-Box .hamMarquee span {
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  text-transform: uppercase;
  line-height: 1.15;
  color: white;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

.hamMenu-Box .hamMarquee {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  letter-spacing: 5px;
}

.hamMenu-Box .hamMarquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.hamMenu-Box .hamMenu__item-link:hover ~ .hamMarquee .hamMarquee__inner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-family: "Gallient";
}

.hamMenu-Box .hamMarquee span {
  text-align: center;
}

.hamMenu-Box .hamMenu__item-link,
.hamMenu-Box .hamMarquee span {
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  text-transform: uppercase;
  line-height: 1.15;
  color: white;
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

.hamMenu-Box .hamSocial-Links {
  width: 100%;
  position: absolute;
  bottom: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Grotesk";
  font-size: 1.2rem;
  letter-spacing: 1px;
  z-index: 25;
}

.hamMenu-Box .hamSocial-Links .hamEllipse {
  visibility: hidden;
  padding: 0 1%;
}

.hamMenu-Box .hamBottomMarque {
  position: absolute;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0;
  bottom: 8%;
  z-index: 25;
}

.hamMenu-Box .hamBottomMarque .bottomMarquee {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.hamMenu-Box .hamBottomMarque .bottomMarquee .bottomInnerMarquee {
  padding: 6px 0 0 0;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background-color: #FFFFFF;
}

.hamMenu-Box .hamBottomMarque .bottomMarquee .bottomInnerMarquee span {
  position: relative;
  padding: 0;
  overflow: visible;
  font-family: "Gallient";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
  white-space: nowrap;
}

.hamMenu-Box .hamBottomMarque .bottomMarquee .bottomInnerMarquee span .HamArrow {
  margin: 0 -6px 6px 0px;
  width: 10px;
  height: 10px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(2px, -2px);
  transform: rotate(-45deg) translate(2px, -2px);
}

.change .bar2 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*Hover Cursor Dot Magnet*/
.cursor-Hover {
  position: fixed;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50px;
  pointer-events: none;
  -webkit-transition: 0s ease;
  transition: 0s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
}

.cursor-Hover .visible-Hover {
  padding-top: 2%;
  font-family: "GroteskMid";
  font-size: 0.2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  opacity: 0;
}

/*Page Transition Effect Starts Here*/
.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 55;
  background-color: antiquewhite;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 5s ease-out;
  transition: 5s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  bottom: 0;
  z-index: 55;
  background-color: antiquewhite;
  -webkit-transition: 5s ease-out;
  transition: 5s ease-out;
}

.transition-2.is-active {
  left: 0px;
}

.transition-3 {
  position: fixed;
  top: 100%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 55;
  background-color: #000000;
  -webkit-transition: 1.5s ease-out;
  transition: 1.5s ease-out;
}

.transition-3.is-active {
  top: 0%;
}

.photo-stack img {
  position: absolute;
  width: 16%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.photo-stack .loadImgOne {
  z-index: 101;
  top: 50%;
  left: 50%;
  -webkit-animation: imgOpa 0s 0.8s linear forwards;
          animation: imgOpa 0s 0.8s linear forwards;
}

.photo-stack .loadImgTwo {
  z-index: 100;
  top: 48%;
  left: 49%;
  -webkit-animation: imgOpa 0s 0.7s linear forwards;
          animation: imgOpa 0s 0.7s linear forwards;
}

.photo-stack .loadImgThree {
  z-index: 99;
  top: 51%;
  left: 51%;
  -webkit-animation: imgOpa 0s 0.6s linear forwards;
          animation: imgOpa 0s 0.6s linear forwards;
}

.photo-stack .loadImgFour {
  z-index: 98;
  top: 48%;
  left: 51%;
  -webkit-animation: imgOpa 0s 0.5s linear forwards;
          animation: imgOpa 0s 0.5s linear forwards;
}

.photo-stack .loadImgFive {
  z-index: 97;
  top: 56%;
  left: 48%;
  -webkit-animation: imgOpa 0s 0.4s linear forwards;
          animation: imgOpa 0s 0.4s linear forwards;
}

.photo-stack .loadImgSix {
  z-index: 96;
  top: 54%;
  left: 52%;
  -webkit-animation: imgOpa 0s 0.3s linear forwards;
          animation: imgOpa 0s 0.3s linear forwards;
}

.photo-stack .loadImgSevn {
  z-index: 95;
  top: 50%;
  left: 48%;
  -webkit-animation: imgOpa 0s 0.2s linear forwards;
          animation: imgOpa 0s 0.2s linear forwards;
}

.photo-stack .loadImgEight {
  z-index: 94;
  top: 53%;
  left: 52%;
  -webkit-animation: imgOpa 0s 0.1s linear forwards;
          animation: imgOpa 0s 0.1s linear forwards;
}

.photo-stack .loadImgNine {
  z-index: 93;
  top: 50%;
  left: 50%;
  -webkit-animation: imgOpa 0s 0s linear forwards;
          animation: imgOpa 0s 0s linear forwards;
}

@-webkit-keyframes imgOpa {
  100% {
    opacity: 1;
  }
}

@keyframes imgOpa {
  100% {
    opacity: 1;
  }
}

.cutText {
  text-decoration: line-through;
}

@media only screen and (max-width: 2561px) {
  /*Hamburger Menu Starts Here*/
  .hamMenu-Box .hamMenu {
    padding: 7% 0 25%;
    --item-font-size: 6vw;
  }
  photo-stack img {
    width: 12%;
  }
}

@media only screen and (max-width: 1921px) {
  .hamMenu-Box .hamMenu {
    padding: 13% 0 25%;
    --item-font-size: 7vw;
  }
}

@media only screen and (max-width: 1537px) {
  .hamMenu {
    padding: 9% 0 25%;
  }
  /*.photo-stack{
        
    }*/
}

@media only screen and (max-width: 1441px) {
  .hamMenu {
    padding: 11% 0 25%;
  }
  photo-stack img {
    width: 13%;
  }
}

@media only screen and (max-width: 1367px) {
  photo-stack img {
    width: 31%;
  }
}

@media only screen and (max-width: 1201px) {
  .hamMenu {
    padding: 14% 0 25%;
  }
  photo-stack img {
    width: 16%;
  }
}

/*Media Queries For Responsive Starts Here*/
@media only screen and (max-width: 769px) {
  .default-Header .inner-default-header {
    width: 88%;
    padding: 8% 0 0 0;
  }
  .default-Header .inner-default-header h1 {
    font-size: 1rem;
  }
  .default-Header .inner-default-header .menuBar-Container .bar1, .default-Header .inner-default-header .menuBar-Container .bar2 {
    width: 28px;
  }
  .hamHover-reveal {
    display: none;
  }
  .cursor-Hover {
    display: none;
  }
  .hamMenu-Box .hamMenu {
    padding: 35% 0 25%;
    --item-font-size: 13vw;
  }
  .hamMenu-Box .hamMenu__item-link {
    opacity: 1;
  }
  .hamMenu-Box .hamMarquee {
    visibility: hidden;
  }
  .hamMenu-Box .hamSocial-Links .hamEllipse {
    margin: 0 3%;
    visibility: visible;
    height: 0.4em;
    padding: 0;
  }
}

@media only screen and (max-width: 429px) {
  .default-Header .inner-default-header h1 {
    font-size: 0.8rem;
  }
  .default-Header .inner-default-header .menuBar-Container .bar1, .default-Header .inner-default-header .menuBar-Container .bar2 {
    width: 24px;
  }
  .hamMenu-Box .hamMenu {
    padding: 66% 0 25%;
    --item-font-size: 18vw;
  }
  .hamMenu-Box .hamSocial-Links {
    bottom: 17%;
    font-size: 1rem;
  }
  .hamMenu-Box .hamBottomMarque .bottomMarquee .bottomInnerMarquee span {
    font-size: 1.2rem;
  }
  .photo-stack img {
    width: 29%;
  }
}

@media only screen and (max-width: 394px) {
  /*Hamburger Menu Starts Here*/
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  overflow: hidden;
}

main .projectPanViewport {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000000;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

main .projectPanViewport .projectPan {
  position: absolute;
  width: 200%;
  height: 200vh;
  top: -34%;
  left: -16%;
  -webkit-transition: 05 linear;
  transition: 05 linear;
}

main .projectPanViewport .projectPan .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4em 0;
}

main .projectPanViewport .projectPan .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 367px;
  height: 647px;
  background: #000000;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.4;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid inset #000000;
  cursor: -webkit-grab;
  cursor: grab;
}

main .projectPanViewport .projectPan .block video {
  min-height: 100%;
}

main .projectPanViewport .projectPan .block:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

main .projectPanViewport .projectPan .block:hover ~ .cursor-Hover {
  display: none;
}

main .projectPanViewport:hover ~ .cursor-Hover {
  visibility: hidden;
}

main .projectCircle {
  position: fixed;
  width: 36%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-43%);
          transform: translate(-43%);
  z-index: 13;
  cursor: none;
}

main .footerSection {
  position: fixed;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0;
  bottom: 9%;
  z-index: 14;
}

main .footerSection .footerMarquee {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

main .footerSection .footerMarquee .footerInnerMarquee {
  padding: 6px 0 0 0;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background-color: #FFFFFF;
}

main .footerSection .footerMarquee .footerInnerMarquee span {
  position: relative;
  padding: 0;
  overflow: visible;
  font-family: "Gallient";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
  white-space: nowrap;
}

main .footerSection .footerMarquee .footerInnerMarquee span .moreWorkArrow {
  margin: 0 -6px 6px 0px;
  width: 10px;
  height: 10px;
}

main .centerText {
  position: absolute;
  bottom: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "GroteskMid";
  font-weight: normal;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  z-index: 15;
  mix-blend-mode: exclusion;
  cursor: -webkit-grab;
  cursor: grab;
}

main .projectMan {
  position: fixed;
  width: 37%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-59%);
          transform: translate(-59%);
  z-index: 15;
  cursor: pointer;
  pointer-events: none;
}

main .link_Behance {
  width: 100%;
  position: fixed;
  bottom: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Grotesk";
  font-size: 1.2rem;
  letter-spacing: 1px;
  z-index: 16;
  cursor: pointer;
}

main .link_Behance .magnetLinksall {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin: 0 0 0 1%;
}

main .link_Behance .magnetLinksall:hover ~ .cursor-Hover {
  visibility: visible;
}

main .centerText:hover ~ .cursor-Hover {
  visibility: hidden;
}

main .projectCircle:hover ~ .cursor-Hover {
  visibility: visible;
}

main .projectMan:hover ~ .cursor-Hover {
  visibility: visible;
}

@media only screen and (max-width: 2561px) {
  main .projectPanViewport .projectPan {
    width: 110%;
    height: 200vh;
    top: -22%;
    left: -5%;
  }
  main .projectPanViewport .projectPan .row {
    margin: 6em 0;
  }
  main .projectPanViewport .projectPan .block video {
    min-height: 100%;
    cursor: url("../assets/png/clickHere_cursor.png") auto !important;
  }
  main .projectCircle {
    width: 25%;
  }
  main .centerText {
    bottom: 50%;
  }
  main .projectMan {
    width: 26%;
  }
  main .link_Behance {
    bottom: 28%;
  }
  main .link_Behance .magnetLinksall {
    margin: 0 0 0 0.5%;
  }
}

@media only screen and (max-width: 1921px) {
  main .projectPanViewport .projectPan {
    width: 140%;
  }
  main .projectPanViewport .projectPan .row {
    margin: 5em 0;
  }
  main .centerText {
    bottom: 40%;
  }
  main .link_Behance {
    bottom: 23%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1537px) {
  main .projectPanViewport .projectPan {
    width: 175%;
  }
  main .projectCircle {
    width: 36%;
  }
  main .centerText {
    bottom: 47%;
  }
  main .projectMan {
    width: 37%;
  }
  main .link_Behance {
    bottom: 26%;
  }
  main .link_Behance .magnetLinksall {
    margin: 0 0 0 1%;
  }
}

@media only screen and (max-width: 1441px) {
  main .projectPanViewport .projectPan .row {
    margin: 3.5em 0;
  }
  main .centerText {
    bottom: 45%;
  }
  main .link_Behance {
    bottom: 24%;
  }
}

@media only screen and (max-width: 1367px) {
  main .projectPanViewport .projectPan {
    width: 183%;
  }
  main .centerText {
    bottom: 43%;
  }
  main .link_Behance {
    bottom: 23%;
  }
}

@media only screen and (max-width: 1201px) {
  main .projectPanViewport .projectPan {
    width: 210%;
  }
  main .projectCircle {
    width: 41%;
  }
  main .projectMan {
    width: 40%;
  }
  main .link_Behance {
    bottom: 22%;
  }
}

@media only screen and (max-width: 769px) {
  main .projectPanViewport .projectPan {
    width: 246%;
  }
  main .projectPanViewport .projectPan .block {
    width: 255px;
    height: 445px;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  main .projectCircle {
    width: 69%;
  }
  main .centerText {
    bottom: 46%;
  }
  main .projectMan {
    width: 68%;
    pointer-events: unset;
  }
  main .link_Behance {
    bottom: 24%;
  }
  main .link_Behance .magnetLinksall {
    margin: 0 0 0 2%;
  }
  main .cursor-Hover {
    display: none;
  }
}

@media only screen and (max-width: 429px) {
  main .projectPanViewport .projectPan {
    width: 319%;
  }
  main .projectPanViewport .projectPan .row {
    margin: 2em 0;
  }
  main .projectPanViewport .projectPan .block {
    width: 195px;
    height: 335px;
  }
  main .projectCircle {
    width: 81%;
  }
  main .centerText {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    bottom: 50%;
  }
  main .projectMan {
    width: 85%;
  }
  main .link_Behance {
    font-size: 0.8rem;
    bottom: 16.5%;
  }
  main .link_Behance .magnetLinksall {
    margin: 0 0 0 2.5%;
  }
  main .footerSection .footerMarquee .footerInnerMarquee span {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 413px) {
  main .projectPanViewport .projectPan {
    width: 334%;
  }
  main .link_Behance {
    bottom: 16.5%;
  }
  main .link_Behance .magnetLinksall {
    margin: 0 0 0 5%;
  }
}

@media only screen and (max-width: 394px) {
  main .projectPanViewport .projectPan {
    width: 343%;
  }
  main .link_Behance {
    bottom: 16%;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 391px) {
  main .link_Behance {
    bottom: 16%;
  }
}

@media only screen and (max-width: 377px) {
  main .projectPanViewport .projectPan .row {
    margin: 1.5em 0;
  }
  main .link_Behance {
    bottom: 17%;
  }
}

@media only screen and (max-width: 361px) {
  main .projectPanViewport .projectPan {
    width: 370%;
  }
  main .link_Behance {
    bottom: 17%;
  }
}
/*# sourceMappingURL=panon.css.map */